
.content {
    margin: 20px 0;
    width: 100%;
}

.content .search-driving-license {
    background: url(/assets/img/license_background.png);
}

.content .news li {
    list-style: none;
    margin: 4px 0;
}

.content .news a {
    text-decoration: none;
    color: #000;
    padding: 10px;
    font-weight: bold;
}

.content .search-heading {
    padding: 16px 10px;
}

.content .search-row {
    margin-bottom: 16px;
}

.content .btn-send-contact {
    margin: 10px;
    padding: 8px;
    background: #fab000;
    color: #fff;
    border: none;
    width: 200px;
    height: 34px;
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;
}

.content .btn-send-contact:hover {
    background-color: #ccc;
    color: #000;
}

.content .label {
    display: inline-block;
}

.content .form-control {
    padding: 6px 12px;
    color: #555;
}

.content .news .title {
    background-color: #1f8bc9;
}

.content .news-heading {
    background-color: #202878;
    display: inline-block;
    color: #fff;
    padding: 6px 10px;
    clip-path: polygon(0% 0%, 88% 0, 100% 50%, 88% 100%, 0% 100%);
}