@media only screen and (max-width: 768px) {
    /* CSS for screens less than or equal to 600px wide */
    #main{
        width: 647px;
    }
    .container {
        width: 100%;
        margin: 0 auto;
    }
    .image{
      position: absolute;
      width: 1000px;
      height: 381px;
      left: -353px;
      bottom: 404px;
    }
    .col-right {
      height: 50px;
    }
    .background {
      left: 4px;
      top: 35px;
      position: relative;
      background: white;
      width: 638px;
      height: 400px;
  }
  .close {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    float: right;
    padding: 7px 12px;
    margin: 10px 10px;
    border-radius: 4px;
    border: 1px solid transparent;
    font-size: 14px;
    cursor: pointer;
}
}
@media only screen and (min-width: 768px) {
  /* CSS for screens less than or equal to 600px wide */

  .image{
    position: absolute;
    width: 1000px;
    height: 381px;
    left: 436px;
    bottom: 370px;
  }
  .background{
    left: 552px;
    top: 35px;
    position: relative;
    background: white;
    width: 800px;
    height: 400px;
  }
  .close{
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    float: right;
    padding: 7px 12px;
    margin: 20px 20px;
    border-radius: 4px;
    border: 1px solid transparent;
    font-size: 14px;
    cursor: pointer;
  }
}

.popup{
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    display: none; 
  }
  #main{
    position: relative;
  }
 
  .title{
    padding: 15px;
  }
  .content-popup{
    display: flex;
    justify-content: flex-start
  }
  .content-popup-1{
    width: 400px;
  }
  .content-popup-2{
    width: 400px;
  }
  h5{
    font-size: 15px;
    padding: 5px;
  }
  th{
    padding:10px 50px 10px 50px;
  }
  .no{
    background: #f9f9f9;
    text-align: center;
    height: 40px;
    font-size: 14px;
    padding-top: 8px;
  }
.container{
  position: relative;
}
/* .image{
  position: absolute;
  width: 1000px;
  height: 381px;
  left: 436px;
  bottom: 370px;
} */

.close:hover{
  background: #339933;
}